<div class="top-menu">
    <ul class="tabpane">
        
            {{#link-to "account.users" class="menu-tab" activeClass="show"}}<li class="">Users</li>{{/link-to}}
        
        
            {{#link-to "account.orders" class="menu-tab" activeClass="show"}}<li class=""> Orders</li>{{/link-to}}
        
    </ul>
</div>

{{yield}}
